<div class="container">
  <!-- <div class="back"><a href=""><img src="/assets/icon/arrow.png" alt=""></a></div> -->
  <div class="bg"></div>
  <div class="main">
    
    <div class="container-title">
      <div class="box-title">
        <div class="title" data-aos="fade-in" data-aos-duration="3000">
          <p>
            <span class="am">I'm a fullstack</span> <br />
            <span class="js">javascript</span>
          </p>
        </div>
        <div class="next">
          <span class="mouse"
            ><img src="/assets/icon/computer-mouse.png" alt="" /></span
          ><br /><span class="down"
            ><img src="/assets/icon/down-arrow.png" alt=""
          /></span>
        </div>
        
      </div>
    </div>
  </div>

  <div class="content" data-aos="fade-in" data-aos-duration="3000">
    <p>
      <span class="text-about">About</span><br />
      <span class="text-content"
        >hi, I'm Raisul, I graduated from Salt Academy full stack
        javascript class, studied for 4 months <br> I have basic HTML,CSS,Javascript,Angular,Typescript,Node.js,Express.js,jQuery,MongoDB</span
      >
    </p>
  </div>
 
  <!-- <div class="container-about">
      <div class="box-about">
        <div class="title-about"><p>About</p></div>
        <div class="content"><p><span>hi, I'm Raisul, I graduated from Salt Academy full stack javascript class, studied for 4 months</span></p></div>
      </div>
     
  </div> -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</div>
