<div class="container">
    <div class="bg"></div>
    <div class="main">
       <div class="title"><p>Contact</p></div>
       <div class="hello">Thank you for visiting my website and if you want to contact me, please contact me via the contact below </div>
       <div class="contact">
           <ul>
               <li><a href="">Whatsapp</a></li>
               <li><a href="">Telegram</a></li>
               <li><a href="">Discord</a></li>
               <li><a href="">Github</a></li>
               <li><a href="">Linkedln</a></li>
           </ul>
       </div>
       <div class="media" data-aos="slide-up" data-aos-duration="3000">
           <ul>
               <li class="first"><a href="">F</a></li>
               <li class="second"><a href="">I</a></li>
               <li class="third"><a href="">T</a></li>
           </ul>
       </div>
    </div>
</div>